img {
  width: 50%;
}
.main {
  border: 2px solid red;
  width: 550px;
  height: 300px;
  min-height: 200px;
  max-height: 100px;
  overflow: scroll;
}
.div2 {
  width: 50%;
  border-color: blue;
  border-style: dashed;
  border-top-width: 5px;
  border-bottom-width: 20px;
  border-right-width: 8px;
  border-left-width: 8px;
  border-bottom-color: brown;
  border-right-color: black;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  text-align: center;
}
.inline{
  background-color: darkorange;
  margin: 10px;
  padding: 10px;
  /* display: inline; */
}
.tn{
  text-align: center;
  color: crimson;
  font-weight: 400;
  font-size: xx-large;
}
.tn::first-letter{
font-size: 200%;
text-shadow: -5px -4px 3px black;
}
.pp1{
  font-size: larger;
  font-weight: 800;
  border: 5px solid red;
  text-align: center;
  margin: 2% 4% 5% 4%;
  padding: 2% 4% 2% 4%;
  box-shadow: 2px 3px 10px green;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
}
